<!-- Main Following Feed Container -->
<div class="flex flex-col w-full mx-auto px-8 py-12 gap-20">

    <!-- Title -->
    <h1 class="montserrat-black text-4xl capitalize">People you follow</h1>

    <!-- Grid Container -->
    <div class="grid grid-cols-4 gap-10">

        <!-- Profile Card -->
        <div class="shadow-lg flex flex-row h-fit rounded-xl p-7 items-center hover:scale-105 transition duration-300 cursor-pointer bg-white">
            <!-- Rounded Profile Image -->
            <img class="rounded-xl" src="https://via.placeholder.com/50x50" alt="Profile Image"/>
            <div class="flex flex-col ml-5">
                <h1 class="host-grotesk-black capitalize text-xl text-orange-500">Profile Name</h1>
                <h2 class="montserrat-regular text-base">Job title</h2>
            </div>
        </div>

    </div>
</div>
