<div class="flex justify-between w-full mx-auto px-8 py-12">
    <!-- Main Feed Container -->
    <div class="w-9/12 pr-16 flex-col">
        <!-- Feed title -->
         <h1 class="montserrat-black text-4xl capitalize mb-20">your home feed</h1>
         
         <!-- Posts Grid Container -->
          <div class="grid grid-cols-3 gap-8">
            
            <!-- Postcard -->
             <div class="max-w-sm rounded-lg overflow-hidden shadow-lg bg-white hover:cursor-pointer hover:scale-105 duration-300" *ngFor="let post of posts$ | async">
                <img class="w-full" src="{{ post.imageUrl }}" alt="Post Image"/>
                <div class="px-8 py-7">
                    <h1 class="host-grotesk-black text-lg mb-4 text-orange-500 capitalize">{{ post.title }}</h1>
                </div>
            </div>
            
            
        </div>
    </div>

</div>
