<div class="flex justify-between w-full mx-auto px-8 py-12">
    <!-- Main Feed Container -->
    <div class="w-9/12 pr-16 flex-col">
        <!-- Feed title -->
         <h1 class="montserrat-black text-4xl capitalize mb-20">your home feed</h1>
         
         <!-- Posts Grid Container -->
          <div class="grid grid-cols-3 gap-8">
            
            <!-- Postcard -->
             <div class="max-w-sm rounded-lg overflow-hidden shadow-lg bg-white hover:cursor-pointer hover:scale-105 duration-300" *ngFor="let post of posts$ | async">
                <img class="w-full" src="https://via.placeholder.com/400x200" alt="Post Image"/>
                <div class="px-8 py-7">
                    <h1 class="host-grotesk-black text-lg mb-4 text-orange-500 capitalize">{{ post.title }}</h1>
                </div>
            </div>
            
            
        </div>
    </div>


    <!-- Following Content Container -->
     <div class="w-3/12 h-fit sticky top-10 flex flex-col gap-4 shadow-xl p-4 rounded-2xl bg-white">
        <h1 class="poppins-bold text-lg text-orange-500">Following</h1>
        <div class="flex flex-col gap-4">
            <div class="cursor-default flex items-center gap-3 shadow-md hover:shadow-lg p-4 transition duration-300 rounded-md">
                <img class="" src="https://via.placeholder.com/50x50" alt="Profile Image"/>
                <div class="flex-col">
                    <h2 class="montserrat-bold text-base">First and last name</h2>
                    <h3 class="host-grotesk-regular text-sm">Professional Title</h3>
                </div>
            </div>
            <div class="cursor-default flex items-center gap-3 shadow-md p-4 transition duration-300 rounded-md hover:shadow-lg">
                <img class="" src="https://via.placeholder.com/50x50" alt="Profile Image"/>
                <div class="flex-col">
                    <h2 class="montserrat-bold text-base">First and last name</h2>
                    <h3 class="host-grotesk-regular text-sm">Professional Title</h3>
                </div>
            </div>
        </div>
    </div>

</div>
