<div class="flex flex-col mx-auto w-full h-screen items-center justify-center">

    <!-- Main Container -->
    <div class="flex flex-col gap-16 justify-center items-center rounded-2xl bg-white w-3/5 h-fit px-4 py-16 shadow-xl hover:shadow-2xl transition duration-500">
        <!-- Sign Up Title -->
        <h1 class="poppins-black text-3xl text-orange-500">Sign Up</h1>
        
        <!-- Actual Sign Up Form -->
        <form class="flex flex-col gap-8 w-11/12 items-center" [formGroup]="signupForm" (ngSubmit)="signUp()" novalidate action="">

            <!-- Inputs Grid Container -->
            <div class="grid grid-cols-2 gap-y-8 gap-x-12 w-full">

                <!-- Name Input Container -->
                <div class="flex flex-col gap-1">
                    <!-- Name Label -->
                    <h1 class="montserrat-bold text-lg">Name</h1>
                    <!-- Name Input -->
                    <input class="p-3 border-2 border-black rounded-lg host-grotesk-regular text-base focus:outline-none focus:border-orange-500 focus:shadow-md transition duration-300 hover:border-orange-500 hover:shadow-md" formControlName="name" type="text" placeholder="Enter your first name">
                </div>

                <!-- Last Name Input Container -->
                <div class="flex flex-col gap-1">
                    <!-- Last Name Label -->
                    <h1 class="montserrat-bold text-lg">Last Name</h1>
                    <!-- Last Name Input -->
                    <input class="p-3 border-2 border-black rounded-lg host-grotesk-regular text-base focus:outline-none focus:border-orange-500 focus:shadow-md transition duration-300 hover:border-orange-500 hover:shadow-md" formControlName="last_name" type="text" placeholder="Enter your last name">
                </div>

                <!-- Username Input Container -->
                <div class="flex flex-col gap-1">
                    <!-- Username Label -->
                    <h1 class="montserrat-bold text-lg">Username</h1>
                    <!-- Username Input -->
                    <input class="p-3 border-2 border-black rounded-lg host-grotesk-regular text-base focus:outline-none focus:border-orange-500 focus:shadow-md transition duration-300 hover:border-orange-500 hover:shadow-md" formControlName="username" type="text" placeholder="Enter an amazing username">
                </div>

                <!-- Title Input Container -->
                <div class="flex flex-col gap-1">
                    <!-- Title Label -->
                    <h1 class="montserrat-bold text-lg">Title</h1>
                    <!-- Title Input -->
                    <input class="p-3 border-2 border-black rounded-lg host-grotesk-regular text-base focus:outline-none focus:border-orange-500 focus:shadow-md transition duration-300 hover:border-orange-500 hover:shadow-md" formControlName="title" type="text" placeholder="Enter the title you currently have">
                </div>

                <!-- Email Input Container -->
                <div class="flex flex-col gap-1">
                    <!-- Email Label -->
                    <h1 class="montserrat-bold text-lg">Email</h1>
                    <!-- Email Input -->
                    <input class="p-3 border-2 border-black rounded-lg host-grotesk-regular text-base focus:outline-none focus:border-orange-500 focus:shadow-md transition duration-300 hover:border-orange-500 hover:shadow-md" formControlName="email" type="email" placeholder="Enter your email">
                </div>

                <!-- Password Input Container -->
                <div class="flex flex-col gap-1">
                    <!-- Password Label -->
                    <h1 class="montserrat-bold text-lg">Password</h1>
                    <!-- Password Input -->
                    <input class="p-3 border-2 border-black rounded-lg host-grotesk-regular text-base focus:outline-none focus:border-orange-500 focus:shadow-md transition duration-300 hover:border-orange-500 hover:shadow-md" formControlName="password" type="password" placeholder="Enter a secret password">
                </div>
            </div>
            
            <!-- Sign Up Button -->
            <button class="p-3 border-4 border-orange-500 hover:bg-orange-500 hover:text-white text-black rounded-lg montserrat-black text-base w-1/2 transition duration-300 shadow-md" type="submit" [disabled]="!signupForm.valid">Sign Up</button>
            
        </form>
    </div>
    
</div>